.PHONY:	dummy


SHELL = /bin/sh

##  =()<CARDS	= @<CARDS>@>()=
CARDS	= teles bintec 
##  =()<PROTOCOLS	= @<PROTOCOLS>@>()=
PROTOCOLS	= phone tei capi fixed
##  =()<SUBPROTOCOLS	= @<SUBPROTOCOLS>@>()=
SUBPROTOCOLS	= euro german

##  =()<KERNELSRC	:= @<KERNELSRC>@>()=
KERNELSRC	:= /usr/src/kernel/linux-pci

ifeq ($(wildcard $(KERNELSRC)/.config),$(KERNELSRC)/.config)
include $(KERNELSRC)/.config
endif

ifdef KERNEL
##  =()<CC	= @<CC>@>()=
CC	= gcc
##  =()<CFLAGS  = @<CFLAGS>@ >()=
CFLAGS  = -g -O2 -fomit-frame-pointer -Wall -DKERNEL -D__KERNEL__ -DMODULE 

else

##  =()<CC	= @<HOSTCC>@>()=
CC	= gcc
##  =()<CFLAGS  = @<HOSTCFLAGS>@ >()=
CFLAGS  = -g -O2 -Wall 
##  =()<LIBS	= @<LIBS>@>()=
LIBS	= -lbsd-compat
endif


##  =()<DESTDIR	= @<DESTDIR>@>()=
DESTDIR	= /usr/lib/isdn
##  =()<LD	= @<LD>@>()=
LD	= ld
##  =()<LDFLAGS	= @<LDFLAGS>@>()=
LDFLAGS	= 
##  =()<RANLIB  = @<RANLIB>@>()=
RANLIB  = echo
##  =()<STR_IF	= str_@<STR_IF>@>()=
STR_IF	= str_linux
##  =()<SYS	= @<SYS>@>()=
SYS	= linux


