.PHONY:	dummy


SHELL = /bin/sh

##  =()<CARDS	= @<CARDS>@>()=
CARDS	= ncp16 ncp teles bintec
##  =()<PROTOCOLS	= @<PROTOCOLS>@>()=
PROTOCOLS	= phone capi tei fixed
##  =()<SUBPROTOCOLS	= @<SUBPROTOCOLS>@>()=
SUBPROTOCOLS	= euro german

##  =()<KERNELSRC	:= @<KERNELSRC>@>()=
KERNELSRC	:= /usr/src/kernel/linux-test

ifdef KERNEL
##  =()<CC	= @<CC>@>()=
CC	= gcc
##  =()<CFLAGS  = @<CFLAGS>@ >()=
CFLAGS  = -g -O2 -Wall -fomit-frame-pointer -DKERNEL -D__KERNEL__ -DMODULE 

else

##  =()<CC	= @<HOSTCC>@>()=
CC	= gcc
##  =()<CFLAGS  = @<HOSTCFLAGS>@ >()=
CFLAGS  = -g -O2 -Wall 
##  =()<LIBS	= @<LIBS>@>()=
LIBS	= -lbsd
endif


##  =()<DESTDIR	= @<DESTDIR>@>()=
DESTDIR	= /usr/local/isdn
##  =()<LD	= @<LD>@>()=
LD	= ld
##  =()<LDFLAGS	= @<LDFLAGS>@>()=
LDFLAGS	= 
##  =()<RANLIB  = @<RANLIB>@>()=
RANLIB  = ranlib
##  =()<STR_IF	= str_@<STR_IF>@>()=
STR_IF	= str_linux
##  =()<SYS	= @<SYS>@>()=
SYS	= linux


