##
##  ISDN master configuration file for Linux.
##  Note that if you leave a field blank, you must have the trailing tab!

##
##
## The user who may do (almost) everything.
#### =()<ROOT	@<ROOT>@>()=
ROOT isdnmaster
##
##
#### =()<SYS	@<SYS>@>()=
SYS	linux
##
##
## System type.
##
#### =()<SYS	@<SYS>@>()=
SYS	linux
##
##
## Where to install everything. The programs are in bin-KERNELVERSION.
##
#### =()<DESTDIR	@<DESTDIR>@>()=
DESTDIR	/usr/local/isdn
##
##
## What to name the lockfiles. Someting with %s (device name).
## Make sure "cu" and other UUCP utilities use the same convention!
##
#### =()<LOCKNAME	@<LOCKNAME>@>()=
LOCKNAME	/var/lock/LCK..%s
##
##
#### Path names
##
#### =()<ROUTE_PATH	@<ROUTE_PATH>@>()=
ROUTE_PATH	/sbin/route
##
##
##
## Card drivers to install. teles bintec.
##
#### =()<CARDS	@<CARDS>@>()=
CARDS	teles
##
##
## Protocols to make. fixed phone tei capi.
##
#### =()<PROTOCOLS	@<PROTOCOLS>@>()=
PROTOCOLS	phone tei 
##
##
## Subprotocols for "phone". euro german.
##
#### =()<SUBPROTOCOLS	@<SUBPROTOCOLS>@>()=
SUBPROTOCOLS	euro german
##
##
## Debugging? DO or DONT
##
#### =()<DEBUGGING	@<DEBUGGING>@>()=
DEBUGGING	DO
##
##
##
##  Stuff to define
##
## Where's the Linux source?
##
#### =()<KERNELSRC			@<KERNELSRC>@>()=
KERNELSRC		/usr/src/linux
##
##
##  C compiler for the kernel
##
#### =()<CC			@<CC>@>()=
CC		gcc
##
##
##  C compiler for the utilities
##
#### =()<HOSTCC			@<HOSTCC>@>()=
HOSTCC		gcc
##
##
##  C flags for kernel modules. Needs -DMODULE -DKERNEL -D__KERNEL__.
##
#### =()<CFLAGS			@<CFLAGS>@>()=
CFLAGS			-g -O2 -Wall -fomit-frame-pointer -DKERNEL -D__KERNEL__ -DMODULE
##
##
##  C flags for programs
##
#### =()<HOSTCFLAGS			@<HOSTCFLAGS>@>()=
HOSTCFLAGS			-g -O2 -Wall
#CFLAGS			-x c++ -g -O2 -W -Wreturn-type -Wshadow -Wcomment 
#CFLAGS			-g -W -Wreturn-type -Wshadow -Wcomment -D_BSD_SOURCE -D_SYSV_SOURCE 
##
##
##  Calling ld directly?
##
#### =()<LD			@<LD>@>()=
LD		ld
#LD		/usr/i486-linuxaout/bin/ld -m i386linux
##
##
##  Flags for the "cc -o" command line
##
#### =()<LDFLAGS			@<LDFLAGS>@>()=
LDFLAGS		
##
##
##  If you need to link in other libraries, add them here
##
#### =()<LIBS		@<LIBS>@>()=
LIBS		-lbsd
##
##
##
## System dependent stuff below: don't change.
##
##
## Byte order. Motorola 4321, Intel 1234.
#### =()<BYTEORDER	@<BYTEORDER>@>()=
BYTEORDER	1234
##
## Ranlib needed ?  "ranlib" or "echo"
#### =()<RANLIB		@<RANLIB>@>()=
RANLIB		echo
##
## Need strsave(3)?  DO or DONT.
#### =()<NEED_STRDUP	@<NEED_STRDUP>@>()=
NEED_STRDUP	DONT
##
## Do you have setsid()?
#### =()<HAVE_SETSID	@<HAVE_SETSID>@>()=
HAVE_SETSID	DO
##
## How many arguments does your setpgrp() take? 0 or 2.
#### =()<HAVE_SETPGRP	@<HAVE_SETPGRP>@>()=
HAVE_SETPGRP	0

## Does Streeams use signed or unsigned characters in its buffer?
#### =()<STREAMCHAR	@<STREAMCHAR>@>()=
STREAMCHAR	unsigned char
##
## Define only if building a kernel complains that there's no spl().
#### =()<NEED_SPL	@<NEED_SPL>@>()=
NEED_SPL	DONT
##
## signal functions' return type? Usually void or int.
#### =()<SIGRET	@<SIGRET>@>()=
SIGRET		void
##
## Need writev(3)?  DO or DONT.
#### =()<NEED_WRITEV	@<NEED_WRITEV>@>()=
NEED_WRITEV	DONT
##
## Signal blocking? SYSV or BSD or NONE.
#### =()<SIGTYPE	@<SIGTYPE>@>()=
SIGTYPE		SYSV
##
## Define only if building a kernel complains that there's no memcpy.
#### =()<NEED_MEMCPY	@<NEED_MEMCPY>@>()=
NEED_MEMCPY	DONT
##
## Name of sys/termio.h (or sys/termios.h)
#### =()<TERMIO	@<TERMIO>@>()=
TERMIO		termios
##
## Name of /usr/include/strings.h
#### =()<STRINGS	@<STRINGS>@>()=
STRINGS		string
##
## What a minor number is called.
#### =()<SUBDEV	@<SUBDEV>@>()=
SUBDEV		uchar_t
##
## Streams <-> INet interface? "in" or "in2" or "str" or "linux" or "none"
## "in" is old BSD, "in2" is BSD 4.4, "str" is Streams-based
#### =()<STR_IF		@<STR_IF>@>()=
STR_IF		linux
##
## kernel timeout() funtion. OLD: untimeout takes first two args of timeout().
##  NEW: untimeout takes return value of timeout().
#### =()<TIMEOUT	@<TIMEOUT>@>()=
TIMEOUT		NEW
##


### ISDN configuration options

## One TEI per B channel? Seems to be required for US National-1.
## DO or DONT.
#### =()<MULTI_TEI	@<MULTI_TEI>@>()=
MULTI_TEI	DONT
##
##
## What to call protocol stuff. M_EXPROTO or (M_PROTO+0x40)
#### =()<MSG_PROTO	@<MSG_PROTO>@>()=
MSG_PROTO	M_EXPROTO
##
## What to call hopefully-expedited data stuff. M_EXDATA or (M_DATA+0x40).
#### =()<MSG_EXDATA	@<MSG_EXDATA>@>()=
MSG_EXDATA	M_EXDATA
##
## What to call normal data stuff. M_DATA
#### =()<MSG_DATA	@<MSG_DATA>@>()=
MSG_DATA	M_DATA

